.head-title {
    padding: 10px 20px;
    font-size: 36px;
    font-weight: bold;
}

.top-swiper {
    &-top {
        background-color: #0c00bf;
        width: 100%;
        height: 15%;
        border-radius: 0 0 40% 40%;
        position: absolute;
        top: 80px;
    }

    .carousel {
        padding: 30px;
        height: 300px;

        &-item {
            border-radius: 20px;

            &-img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.middle-swiper {
    .carousel {
        padding: 20px;
        height: 200px;

        &-item {
            border-radius: 15% / 50%;

            &-img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.service-wrap {
    display: flex;
    flex-basis: 20px;
    justify-content: space-between;
    padding: 20px;

    .service {
        width: calc((100vw - 40px) / 2 - 20px);
        height: 150px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f2f2f2;

        .icon {
            width: 100px;
            height: 100px;
            background: #f2f2f2;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .text-wrap {
            height: 80px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            padding-left: 25px;

            .title {
                font-size: 30px;
                font-weight: bold;
            }

            .subtitle {
                font-size: 25px;
            }
        }
    }

    :hover {
        opacity: 0.8;
    }
}