// Custom Theme
/* Custom Theme */
$color-brand: #0c00bf;
$color-brand-light: #4940cf;
$color-brand-dark: #0a0099;
$at-grid-font-size: 25px;

@import "~taro-ui/dist/style/index.scss"; // 全局引入

// Custom Theme
.at-search-bar {
    &::after {
        border: none;
    }
}

::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    color: transparent;
}